body {
    position: relative;
    margin: -5px 5px 5px;
    background: #000a;
    width: 640px;
    height: 50px;
    overflow: hidden;
    color: white;
    font-size: 25px;
    font-family: Consolas, monospace;
}

#ppText {
    font-size: 50px;
}

#urText {
    display: flex;
    position: absolute;
    top: 10px;
    left: 320px;
    flex-direction: column;
    text-align: center;
}

#hits {
    display: flex;
    position: absolute;
    right: 0;
    top: 10px;
    justify-content: space-around;
    width: 260px;
    text-align: center;
}

#stats>div,
#hits>div {
    width: 55px;
}

.small {
    font-size: 12px;
}

.odometer-formatting-mark {
    display: none;
}
